/* CSS font imports */
@import url('assets/fonts/stylesheet.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#titlepage {
    background: linear-gradient(45deg, rgb(0, 3, 37) 0%, rgb(0, 24, 24) 50%, rgba(23, 0, 48, 1) 100%);
    background-size: 400% 400%;
    height: 100vh;
    /*overflow: inherit;*/
    /*z-index: -2 !important;*/
    animation: kf1 10s ease-in-out infinite alternate;
    position: relative;
    width: 100%;
}

.card {
    background-color: black;
    height: 100vh;
    position: relative;
    color: white;
    text-align: center;
}

@keyframes kf1 {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

*, html, body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

.flexparent {
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

#infocard {
    background-color: beige;
    z-index: 100;
    height: 100vh;
    position: fixed;
    width: 33vw;
}

#text_margin {
    margin: 2vw;
}

#hi_tejas {
    font-family: 'Poppins', sans-serif;
    font-size: 4vw;
    font-weight: 600;
}

p {
    font-family: 'glacial_indifferenceregular', sans-serif;
    font-size: 2vw;
}

.social {
    height: 2.5vw

}

.social_spacer {
    width: 1vw;
    display: inline-block;
}

.uri:hover {
    color: #0061b4;
    text-decoration: underline;
}

.uri {
    color: #000000;
}

@keyframes leftx {
    0% {
        translate: 0% 0;

    }
    100% {
        translate: -100% 0;
    }

}

#infocard_anim {
    animation: leftx 10s alternate;
}

#particles-js {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.header {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 4vw;
    color: white;
    display: block;
}
.tile{
    background-color: blue;
    border-radius: 10%;
    flex: 1;
    margin: 1.5vw;
    height: 19.5vw;
    width: 23.5vw;
    transition: transform 1s;
    transform: scale(1.0);
    background: linear-gradient(90deg, rgb(0, 60, 98) 0%, rgb(71, 0, 141) 100%);
    background-size: 300% 300%;
    background-position: 100% 50%;
    padding: 1.5vw;
    text-decoration: none !important;
    color: white;
}

.tile:hover {
    transition: transform 1s;
    transform: scale(1.1);
    animation: test 1s;
    animation-fill-mode: forwards;


}

@keyframes test {
    100% {
        background-position: 0% 50%;
    }
}


.tileheader {
    /*text-align: center;*/
    font-size: 3vw;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}
